.Slide {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40em;
    width: 65em;
    text-align: center;
    margin: auto;
}

.Slide::-webkit-scrollbar {
    display: none;
  }

.card {
    background-color: rgba(0, 0, 0, 0);
    padding-block: 11em;
}

@keyframes first {
    50% {transform: translateY(20px)}
}

.first>p:nth-child(2) {
    animation-delay: .1s;
}

.first>p:nth-child(3) {
    animation-delay: .2s;
}

.first>p:nth-child(4) {
    animation-delay: .3s;
}

.first>p:nth-child(5) {
    animation-delay: .4s;
}

.first>p:nth-child(6) {
    animation-delay: .5s;
}

.first>p:nth-child(7) {
    animation-delay: .6s;
}

.first>p:nth-child(8) {
    animation-delay: .7s;
}

.first {
    display: flex;
    justify-content: center;
    padding-block: 17em;
}

.first>p {
    font-size: 4em;
    margin: 0;
    padding: 0;
    animation-name: first;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes second {
    0% {transform: rotateY(90deg) translateX(-50%)}
    25% {transform: rotateY(90deg) scale(0.5)}
}

.second {
    padding-block: 10em;
}

.second>span {
    font-size: 4em;
}

.second>p {
    font-size: 4em;
    animation-name: second;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes third {
    0% {transform: skewY(0deg)}
    25% {transform: skewY(35deg)}
    50% {transform: skewY(0deg)}
    75% {transform: skewY(-35deg)}
}

.third {
    font-size: 3em;
    padding-block: 5em;
}

.third>p {
    animation-name: third;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.fourth>p {
    font-size: 2em;
}

.fifth {
    padding-block: 16em;
}

@keyframes fifth {
    0% {transform: translateY(9em)}
    100% {transform: translateY(-9em)}
}

.fifth>p {
    font-size: 2em;
    animation-name: fifth;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes sixth {
    0% {transform: scale(1)}
    100% {transform: scale(2)}
}

.sixth {
    padding-block: 18em;
}

.sixth>p {
    width: 42em;
    animation-name: sixth;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.seventh {
    display: flex;
    justify-content: center;
    padding-block: 16em;
}

@keyframes follow {
    0% {transform: translateX(0em)}
    60% {transform: translateX(0em)}
    100% {transform: translateX(5em)}
}

.seventh>p {
    font-size: 2em;
    animation: follow 4s infinite;
}

@keyframes lead {
    0% {transform: translateX(0em)}
    40% {transform: translateX(1em)}
    60% {transform: translateX(1em)}
    100% {transform: translateX(4em)}

}

.seventh>span {
    padding-left: 3px;
    font-size: 4em;
    animation-name: lead;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.eighth {
    padding-block: 16em;
}

.eighth>p {
    font-size: 2em;
}

a {
    background-color: blue;
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
}

a:hover {
    color: lightseagreen;
    
}

.nineth {
    padding-block: 11em;
}

.nineth>p {
    font-size: 2em;
}

@media screen and (max-width: 1030px) {
    .Slide {
        width: 98vw;
    }

    @keyframes follow {
        0% {transform: translateX(0em)}
        60% {transform: translateX(0em)}
        100% {transform: translateX(12em)}
    }

    @keyframes sixth {
        0% {transform: scale(1)}
        100% {transform: scale(2) translateX(-3em)}
    }
}