@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.App {
    color: white;
    font-family: 'Patrick Hand', cursive;
    height: 99vh;
    width: 99vw;
    background-image: url("../public/portfolio_background.jpg")
}